@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
